* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
  background-color: #161613;
  color: white;
}

#map-div {
  position: absolute;
  top: 5vh;
  left: 0vw;
  width: 45%;
  height: 90%;
}

.extent {
  stroke: #fff;
  fill: steelblue;
  fill-opacity: 0.25;
  shape-rendering: crispEdges;
  background-color: white;
}

rect {
  background-color: white;
}

#pie-div {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 55%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#pie-attr {
  position: absolute;
  background-color: #161613;
  right: 2em;
  top: 0;
  margin-top: 2vw;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  border-color: #aaa;
  color: white;
}
#parallel-coordinate-div {
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  width: 55%;
  height: 30%;
}

#histogram-div {
  position: absolute;
  bottom: 0vh;
  left: 0vw;
  width: 45%;
  height: 30%;
  display: inline;
}

#title-container {
  height: 10%;
  width: 100%;
  text-align: center;
}

h3 {
  height: 20pt;
  padding-top: 10pt;
}

td {
  padding-left: 0.9em;
  padding-bottom: 0.5em;
  font-size: 1em;
}
p {
  color: #aaa;
}

svg {
  cursor: default;
}
