* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
  background-color: #161613;
  color: white;
}

#map-div {
  position: absolute;
  z-index: 4;
  top: 10vh;
  right: 0vw;
  width: 40%;
  height: 90%;
}

#horizontal-bar-chart-div {
  /* background-color: #aaa; */
  position: absolute;
  bottom: 60vh;
  left: 2.5vw;
  width: 25%;
  height: 30%;
  display: inline;
}

#horizontal-bar-chart-div path {
  stroke: transparent;
}

#pie-div {
  position: absolute;
  top: 12vh;
  left: 27.5vw;
  width: 30%;
  height: 20%;
}

#legend-div {
  /* background-color: #aaa; */
  position: absolute;
  top: 15vh;
  left: 60vw;
  width: 15%;
}

#legend-div * {
  cursor: crosshair;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.extent {
  stroke: #fff;
  fill: steelblue;
  fill-opacity: 0.25;
  shape-rendering: crispEdges;
  background-color: white;
}

#pie-attr {
  position: absolute;
  background-color: #161613;
  right: 1em;
  top: 0;
  margin-top: 2vw;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  border-color: #aaa;
  color: white;
}
#parallel-coordinate-div {
  position: absolute;
  bottom: 0vh;
  left: 0vw;
  width: 60%;
  height: 60%;
}

#title-container {
  height: 10%;
  width: 100%;
  text-align: center;
}

h2 {
  height: 20pt;
  padding-top: 10pt;
}

td {
  padding-left: 0.9em;
  padding-bottom: 0.5em;
  font-size: 1em;
}
p {
  color: #aaa;
}

svg {
  cursor: default;
}

.domain {
  fill: none;
  stroke: white;
  opacity: 0.4;
}

#parallel-coordinate-div .tick line {
  stroke: white;
  opacity: 0.4;
}

#parallel-coordinate-div .tick text {
  font-size: smaller;
}

.tooltip {
  z-index: 20;
  position: absolute;
  color: black;
  width: 50;
  cursor: default;
}
