* {
  padding: 0;
  margin: 0;
  background-color: #161613;
  color: white;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
}
.svg-container {
  float: left;
}

#map-div {
  /* background: #ddd; */
  width: 40%;
  height: 60%;
}

.leaflet-zoom-animated {
  background-color: transparent;
}

#map {
  /* background: #ddd; */
  width: 90%;
  height: 95%;
  margin: 5%;
}

#pie-outer {
  position: relative;
}
#pie-div {
  /* background: #aaa; */
  width: 45%;
  height: 45%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#pie-attr {
  position: absolute;
  left: 75vw;
  top: 0;
  margin-top: 2vw;
  margin-left: 5em;
  padding: 0.5em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  border-color: #aaa;
}
/* #parallel-coordinate-div {
   background: #777;
  width: 50%;
  height: 45%;
}  */

#histogarm-div {
  /* background: rgb(61, 61, 61); */
  width: 45%;
  height: 45%;
}

#title-container {
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  align-items: center;
}

h3 {
  height: 20pt;
  padding-top: 10pt;
}

td {
  padding-left: 0.9em;
  padding-bottom: 0.5em;
  font-size: 1em;
}
p {
  color: #aaa;
}
